<!DOCTYPE html>
<html
  class="light"
  lang="en"
  th:fragment="parent(content, script)"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:fragment="title">Default Title</title>

    <!-- Main Styles -->
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" th:href="@{'/css/style.css'}" />
  </head>
  <style>
    .contentClass {
      margin-top: 70px;
    }
  </style>

  <body class="dark:bg-gray-900 dark:text-white">
    <!-- Navbar Fragment -->
    <!--if user Loggedin too yhe wala  navbar chalega -->
    <div th:if="${loginUser}">
      <div th:replace="user/user_navbar :: user-navbar"></div>
    </div>

    <!--if user Not Loggedin too yhe wala navbar chalega -->
    <div th:unless="${loginUser}">
      <div th:replace="navbar :: navbar"></div>
    </div>

    <!-- Content Section (Dynamically replaced by child templates) -->
    <div class="contentClass">
      <section data-th-replace="${content}"></section>
    </div>

    <!-- Main Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>

    <!-- Additional Scripts (Dynamically replaced by child templates) -->
    <th:block th:replace="${script}"></th:block>
  </body>
</html>
