<!DOCTYPE html>
<html
  class="light"
  lang="en"
  th:fragment="parent(content, script)"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:fragment="title">Default Title</title>

    <!-- Main Styles -->
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" th:href="@{'/css/style.css'}" />
  </head>
  <style>
    body {
      padding-top: 70px; /* Adjust this based on your navbar's height */
    }
  </style>
  <body class="dark:bg-gray-900 dark:text-white">
    <!-- Navbar Fragment -->
    <div>
      <div th:replace="navbar :: navbar"></div>
    </div>

    <!-- Content Section (Dynamically replaced by child templates) -->
    <div>
      <section data-th-replace="${content}"></section>
    </div>

    <!-- Main Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>

    <!-- Additional Scripts (Dynamically replaced by child templates) -->
    <th:block th:replace="${script}"></th:block>
  </body>
</html>
